<template>
    <div>
      <b-breadcrumb :items="items"/>
    </div>
</template>

<script>
export default {
  name: 'breadcrumb',
  data () {
    return {
      items: [{
        text: 'Home',
        href: '/',
        active: true
      },
      {
        text: 'b',
        href: '#'
      }]
    }
  }
}
</script>

<style>
</style>
