<template>
  <div>
    <h1>{{ msg }}</h1>
  </div>
</template>
<script>
export default {
  name: 'firstcomponentchild',
  data () {
    return {
      msg: 'First Component Child'
    }
  }
}
</script>
