<template>
  <div>
    <h5>Current Path is {{ $route.path }}</h5>
    <h1>{{ msg }}</h1>
    Hello {{ $route.params.name }}
    <br>
    {{ $route.matched.length }}
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'firstcomponent',
  data () {
    return {
      msg: 'First Component'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
