<template>
<b-navbar toggleable="md" type="dark" variant="info">

    <!-- Enable toggle in navbar-->
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <!--Show word/icon inside when toggled-->
    <b-navbar-brand href="#">
        <icon name="chameleon" id="chameleon" scale="20" style="color: #05CE7C;" ></icon>
    </b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav tabs>
            <b-nav-item to="/">Home</b-nav-item>
            <b-nav-item to="/first/Sebastian">Sebastian</b-nav-item>
            <b-nav-item to="/first/Sebastian/child">Son </b-nav-item>
            <b-nav-item to="/second/kenny">Kenny</b-nav-item>
            <b-nav-item to="./second/kenny/child"> routerGirl</b-nav-item>
        </b-navbar-nav>

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">

      <b-nav-form>
        <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
        <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
      </b-nav-form>

      <b-nav-item-dropdown text="Lang" right>
        <b-dropdown-item href="#">EN</b-dropdown-item>
        <b-dropdown-item href="#">ES</b-dropdown-item>
        <b-dropdown-item href="#">RU</b-dropdown-item>
        <b-dropdown-item href="#">FA</b-dropdown-item>
      </b-nav-item-dropdown>

      <b-nav-item-dropdown right>
        <!-- Using button-content slot -->
        <template slot="button-content">
          <em>User</em>
        </template>
        <b-dropdown-item href="#">Profile</b-dropdown-item>
        <b-dropdown-item href="#">Signout</b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>

    </b-collapse>
</b-navbar>

    <!-- <div class="navbar-wrapper">
        <div class="navbar-list-wrapper">
            <ul class="navbar-list">
                <li><router-link to="/">Home</router-link></li>
                <li><router-link to="/first/Sebastian">FirstRoute</router-link></li>
                <li><router-link to="/first/Sebastian/child">FirstRouteChild</router-link></li>
                <li><router-link to="/second/kenny">SecondRoute</router-link></li>
                <li><router-link to="/second/kenny/child">SecondRouteChild</router-link></li>
            </ul>
        </div>
        <icon name="chameleon" id="chameleon" scale="20" style="color: #05CE7C;" ></icon>
    </div> -->
</template>

<script>
export default {
  name: 'navbar'
}
</script>

<style scoped>
li {
    display: inline;
}
#chameleon {
  animation-name: chameleon;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes chameleon {
  0% {
    color: red;
  }
  20% {
    color: yellow;
  }
  40% {
    color: blue;
  }
  60% {
    color: green;
  }
  80% {
    color: purple;
  }
  100% {
    color: gold;
  }
}
</style>
