<template>
  <div id="app">
    <span v-on:click="goBack()"><icon name="goback" class="goback" width="20" height="20"></icon></span>
    <img id="logo" src="./assets/logo.png">
    <span v-on:click="goForward()"><icon name="goback" class="goforward" width="20" height="20"></icon></span>
    <NavBar/>
    <Breadcrumb/>
    <div class="container">
      <div class="content">
        <router-view/> <!-- Get component via router/index.js -->
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from './components/navbar'
import Breadcrumb from './components/breadcrumb'

export default {
  name: 'app',
  components: {
    NavBar,
    Breadcrumb
  },
  methods: {
    goBack () {
      window.history.length > 1
        ? this.$router.go(-1)
        : this.$router.push('/')
    },
    goForward () {
      window.history.length > 1
        ? this.$router.go(+1)
        : this.$router.push('/')
    }
  }
}
</script>

<style>
/*Golbal css*/
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.goback:hover {
  color:gold
}
.goforward {
  transform: rotate(180deg);
}
.goforward:hover {
  color:gold
}
.content {
  padding-top: 30px
}
</style>
